<app-palette
  [theme]="themes[currentTheme]"
  [(active)]="isOpenPalette"
  (changeColor)="onChangeColor($event)"
  (apply)="createCustomTheme($event)"
  (cancel)="onCancel()"
  >
</app-palette>

<div class="controls">
  <mat-form-field style="width: 100px;">
    <mat-label>Strings</mat-label>
    <mat-select [(ngModel)]="numberOfStrings" (selectionChange)="onChangeStrings($event.value)" name="strings">
      <mat-option *ngFor="let string of stringOptions" [value]="string.value">
        {{string.label}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <div class="form-field">
    <mat-form-field class="text-field" style="width: 55px;">
      <mat-label>Frets</mat-label>
      <input
        matInput
        type="number"
        maxlength="2"
        min="1"
        max="24"
        [(ngModel)]="numberOfFrets"
        (input)="onChangeFret($event)"
      />
    </mat-form-field>
  </div>

  <div class="form-field">
    <label class="field-label">Show flat notes</label>
    <mat-checkbox
      [(ngModel)]="showFlatNotes"
      (change)="onChangeShowNotes($event.checked, 'showFlatNotes')"
    ></mat-checkbox>
  </div>

  <div class="form-field">
    <label class="field-label">Show sharp notes</label>
    <mat-checkbox
      [(ngModel)]="showSharpNotes"
      (change)="onChangeShowNotes($event.checked, 'showSharpNotes')"
    ></mat-checkbox>
  </div>

  <div class="form-field">
    <mat-form-field style="width: 100px;">
      <mat-label>Theme</mat-label>
      <mat-select [(ngModel)]="currentTheme" (selectionChange)="onChangeTheme($event.value)" name="theme">
        <mat-option *ngFor="let theme of themeOptions" [value]="theme.value">
          {{theme.label}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <button
      (click)="openPalette()"
      isRoundButton="true"
      matTooltip="Create new theme"
      mat-mini-fab
      style="margin-left: 15px;"
    >
      <mat-icon>palette</mat-icon>
    </button>
  </div>

  <div class="form-field">
    <mat-form-field style="width: 100px;">
      <mat-label>Generate gamma</mat-label>
      <mat-select [(ngModel)]="scaleSequence" (selectionChange)="onChangeScale($event.value)" name="scale">
        <mat-option *ngFor="let sequence of sequenceOptions" [value]="sequence.value">
          {{sequence.label}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>

<div class="content">
  <div class="canvas-wrapper">
    <canvas #fretLayer class="canvas"></canvas>
    <canvas #noteLayer class="canvas"></canvas>
  </div>
</div>
