:host {
  display: block;
  width: 100%;
}

.canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.content {
  padding: 15px 20px;
}

.canvas-wrapper {
  position: relative;
  width: 100%;
  height: 300px;
  overflow-x: auto;
  box-sizing: border-box;
}

.controls {
  display: flex;
  align-content: center;
  align-items: flex-start;
  padding: 25px 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.form-field {
  padding: 0 15px;
}

.field-label {
  display: block;
}

.handmode-switcher {
  display: flex;
  align-items: center;
  font-size: 18px;

  mat-slide-toggle {
    margin: 0 25px;
  }

  .label {
    opacity: 0.5;
    transition: opacity 0.2s linear;

    &.active {
      opacity: 1;
    }
  }
}
