<app-palette
  [theme]="themes[themeName]"
  [(active)]="isOpenPalette"
  (changeColor)="onChangeColor($event)"
  (apply)="createCustomTheme($event)"
  (cancel)="onCancel()"
  >
</app-palette>

<app-side-menu #sideMenu side="left">
  <app-fretboard-settings [settings]="settings"></app-fretboard-settings>
</app-side-menu>

<div class="section flex-align-center">
  <div class="form-field">
    <button mat-mini-fab isRoundButton="true" matTooltip="Settings" (click)="sideMenu.toggle();">
      <mat-icon>settings</mat-icon>
    </button>
  </div>

  <div class="form-field">
    <button
      (click)="openPalette()"
      isRoundButton="true"
      matTooltip="Create new theme"
      mat-mini-fab
    >
      <mat-icon>palette</mat-icon>
    </button>
  </div>

  <div class="form-field" style="width: 100px;">
    <ng-select
      [items]="themeOptions"
      [searchable]="false"
      [clearable]="false"
      bindValue="value"
      bindLabel="label"
      placeholder="Theme"
      [(ngModel)]="themeName"
      (change)="onChangeTheme($event)"
      class="custom block"
    ></ng-select>
  </div>

  <div class="form-field" style="width: 200px;">
    <ng-select
      [items]="sequenceOptions"
      [clearable]="false"
      bindValue="value"
      bindLabel="label"
      groupBy="group"
      placeholder="Scale"
      [(ngModel)]="scaleSequence"
      (change)="onChangeScale($event)"
      class="custom"
    >
      <ng-template ng-option-tmp let-item="item">
        <div class="option-item">
          {{item.label}}

          <div
            *ngIf="item.group !== 'Favorite'"
            class="favorite-button"
            [ngClass]="{active: isFavorite(item.value)}"
            (click)="toggleFavorite(item); $event.stopPropagation();"
          >
            <mat-icon>favorite</mat-icon>
          </div>

          <div
            class="remove-button"
            *ngIf="item.group === 'Favorite'"
            (click)="removeFavorite(item); $event.stopPropagation();"
          >
            <mat-icon>remove</mat-icon>
          </div>
        </div>
      </ng-template>
    </ng-select>
  </div>

  <div class="form-field">
    <mat-radio-group [(ngModel)]="scaleMode" (change)="onChangeScaleMode()" aria-label="Select pattern">
      <mat-radio-button  *ngFor="let mode of scaleModes" [value]="mode.value">
        {{mode.name}}
      </mat-radio-button>
    </mat-radio-group>
  </div>
</div>

<div class="fretboard">
  <div class="canvas-wrapper" [style.height.px]="canvasHeight$ | async">
    <canvas #fretLayer class="canvas"></canvas>
    <canvas #noteLayer class="canvas"></canvas>
  </div>
</div>
