<div class="app-palette" [ngClass]="{'active': isActive}">
  <div class="content-wrapper">
    <mat-form-field class="text-field">
      <input class="text-input" matInput placeholder="Theme name" [value]="themeName" (input)="onChangeName($event.target.value)">
    </mat-form-field>

    <div class="colors">
      <div class="form-field" *ngFor="let name of themeNames;">
        <label class="field-label">{{name}}</label>
        <input
          class="color-input"
          (colorPickerChange)="onChangeColor()"
          [(colorPicker)]="initialTheme[name]"
          [style.background]="initialTheme[name]"
        />
      </div>
    </div>

    <div class="actions">
      <button mat-button style="margin-right: 15px;" (click)="cancelTheme()">Cancel</button>
      <button mat-raised-button (click)="applyTheme()">Apply</button>
    </div>
  </div>
</div>
