<div class="content-page">
  <div class="content">
    <h3>Contact Us 📧</h3>

    <form [formGroup]="formGroup" novalidate (ngSubmit)="submit()">
      <div class="form-group">
        <mat-form-field class="text-field">
          <input class="form-control" matInput placeholder="Name" name="name" formControlName="userName">
        </mat-form-field>
      </div>

      <div class="form-group">
        <mat-form-field class="text-field">
          <input class="form-control" matInput placeholder="Email" name="email" formControlName="email">
        </mat-form-field>
      </div>

      <div class="form-group">
        <mat-form-field>
          <textarea class="form-control" rows="9" placeholder="Text your message" matInput name="phone" formControlName="message"></textarea>

          <mat-error *ngIf="formGroup.controls['message'].invalid && formGroup.controls['message'].touched">
            Message is empty
          </mat-error>
        </mat-form-field>
      </div>

      <div class="form-group" align="center">
        <button mat-flat-button type="submit" [disabled]="formGroup.invalid">
          Send
        </button>
      </div>
    </form>
  </div>
</div>
