<header style="position: absolute; top: -1000px;">
  <label>
    Select theme
    <select name="theme">
      <option *ngFor="let theme of themeOptions" [value]="theme.value">{{theme.label}}</option>
    </select>
  </label>

  <label>
    Select Scale
    <select name="scales">
      <option *ngFor="let option of sequenceOptions" [value]="option.value">{{option.label}}</option>
    </select>
  </label>
</header>

<div class="route-page" [@routeAnimations]="getRouterOutletState(outlet)">
  <router-outlet #outlet="outlet"></router-outlet>
</div>

<footer class="footer">
  <div>
    <a class="navigation-link" routerLink="/fretboard" routerLinkActive="active">Fretboard</a>
    <a class="navigation-link" routerLink="/privacy-policy" routerLinkActive="active">Privacy Policy</a>
    <a class="navigation-link" routerLink="/terms-of-use" routerLinkActive="active">Terms of Use</a>
    <a class="navigation-link" routerLink="/contacts" routerLinkActive="active">Contact Us</a>
  </div>

  <span class="copyright">Copyright © 2019 guitar-scales.org. All rights reserved.</span>
</footer>
