@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~@ng-select/ng-select/themes/material.theme.css";

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/iconfont/MaterialIcons-Regular.eot'); /* For IE6-8 */
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url('./assets/iconfont/MaterialIcons-Regular.woff2') format('woff2'),
       url('./assets/iconfont/MaterialIcons-Regular.woff') format('woff'),
       url('./assets/iconfont/MaterialIcons-Regular.ttf') format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #ddd;
}

// Override material theme START
.mat-slider-track-background {
  background-color: rgba(0, 0, 0, 0.2);
}

.cdk-focused .mat-slider-track-background,
.mat-slider:hover .mat-slider-track-background {
  background-color: rgba(0, 0, 0, 0.15);
}

.mat-snack-bar-container {
  min-width: 180px !important;
  color: #efefef;
  background: #c5962b;
}
// Override material theme END

.form-field {
  padding: 0 15px;
}

.field-label {
  display: block;
  color: rgba(0,0,0,.54);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.125;
  font-family: Roboto,"Helvetica Neue",sans-serif;
}

.flex-align-center {
  align-items: center;
}

.mat-horizontal-stepper-header {
  pointer-events: none !important;
}

.mat-horizontal-stepper-header-container {
  display: none !important;
}

.mat-horizontal-content-container {
  padding: 0 !important;
  padding-bottom: 24px !important;
}

.content-page {
  display: flex;
  justify-content: center;
  padding: 25px 20px;

  .content {
    max-width: 800px;
    min-width: 450px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 2px 0px 2px #d9d9d9;
    background: #f0f0f0;
    font-family: Verdana, sans-serif;
    box-sizing: border-box;
  }

  h1 {
    margin: 0 0 35px;
    font-size: 28px;
    line-height: 28px;
    color: #333;
  }

  h2 {
    margin: 25px 0;
    font-size: 22px;
    line-height: 22px;
    color: #444444;
  }

  h3 {
    margin: 25px 0;
    font-size: 20px;
    line-height: 20px;
    color: #444444;
  }

  p {
    margin-bottom: 15px;
    font-size: 16px;
    color: #333;
    line-height: 26px;
  }

  ul li, ol li {
    font-size: 16px;
    line-height: 24px;
    color: #333;
  }

  a {
    color: #3878ce;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  .accent-text {
    color: green;
  }

  .date {
    background: #fe921f;
    color: #ffffff;
    display: inline-block;
    font-family: 'Helvetica', sans-serif;
    font-size: 12px;
    font-weight: bold;
    line-height: 12px;
    letter-spacing: 1px;
    margin: 0 0 20px;
    padding: 10px 15px 8px;
    text-transform: uppercase;
  }
}

.ng-select.custom .ng-select-container .ng-value-container {
  border-top: 1.2em solid transparent;
}

.ng-select.custom.ng-select-single .ng-select-container .ng-value-container,
.ng-select.custom.ng-select-single .ng-select-container .ng-value-container .ng-value {
  font-size: 16px;
}

.ng-select.custom .ng-dropdown-panel {
  width: 260px;
}

.ng-select.custom.block .ng-dropdown-panel {
  width: 100%;
}

.ng-select.custom .ng-dropdown-panel .ng-dropdown-panel-items {
  max-height: 70vh;
}

.ng-select.custom .ng-dropdown-panel .ng-dropdown-panel-items .ng-option {
  line-height: 2.5em;
  min-height: 2.5em;
  height: 2.5em;
  font-size: 13px;
}
