@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #ddd;
}

// Override material theme START
.mat-slider-track-background {
  background-color: rgba(0, 0, 0, 0.2);
}

.cdk-focused .mat-slider-track-background,
.mat-slider:hover .mat-slider-track-background {
  background-color: rgba(0, 0, 0, 0.15);
}

.mat-snack-bar-container {
  min-width: 180px !important;
  color: #efefef;
  background: #c5962b;
}
// Override material theme END

.form-field {
  padding: 0 15px;
}

.field-label {
  display: block;
  color: rgba(0,0,0,.54);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.125;
  font-family: Roboto,"Helvetica Neue",sans-serif;
}

.flex-align-center {
  align-items: center;
}
